@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container{
  /* max-width: 700px; */
  text-align: center;
}
.head{
  font-size: 1.3rem;
}

.box{
  display: grid;
  grid-template-columns: auto auto auto auto;
  /* justify-content: space-around; */
  /* width: 100%; */
  background-color: aqua;
  margin: 10px 0;
}

.display{
  /* display: grid;
  grid-template-columns: auto; */
  /* min-width: 700px; */
}
.assets{
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-around;
  gap: 10px 30px;
}

.coin-name{
  /* text-align: center; */
  font-weight: bold;
}
.price{
  text-align: start;
}