@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
}

a.me{
  color: #0cadf8;
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h4{
  margin: 10px 0;
}
.container{
  /* max-width: 700px; */
  text-align: center;
}
.head{
  font-size: 1.3rem;
}

.box{
  display: grid;
  grid-template-columns: auto auto auto auto;
  /* justify-content: space-around; */
  /* width: 100%; */
  background-color: aqua;
  margin: 10px 0;
}

.display{
  
  margin: 20px 0;
}

.assets{
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  justify-content: space-around;
  gap: 20px 30px;
  text-align: start;
}
.center{
  display: flex;
  justify-content: center;
}

.coin-name{
  /* text-align: center; */
  font-weight: bold;
}
.price{
  text-align: start;
}

.pc{
  color: rgb(3, 173, 3);
}

.neg{
  color: red;
}

input{
  padding: 7px 15px;
  border-radius: 15px;
  border: 1px solid rgb(196, 194, 194);
  min-width: 300px;
  font-family: 'Poppins';
}
input:focus{
  outline: none;
  border: 1px solid rgb(0, 255, 179);
}

.ic_logo{
  max-width: 30px;
}
.primary{
  display: flex;
  align-items: center;
  gap: 5px;
}

.assets > div{
  display: flex;
  align-items: center;
}

.loader {
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}